:global(.ui.basic.label).toolbarBtn {
  border: none
}

.contentContainer {
  display: flex;
  justify-content: space-between;
}

.editIcon {
  margin-right: -10 !important;
}

.editLabel {
  padding-right: 0 !important;
}

.editBody {
  width: 100%;
  height: 100%;
  resize: vertical;
}
